.home {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3, 1fr);
	gap: calc(var(--index));

	/* .home__title */

	&__title {
		font-size: calc(var(--index) * 2.5);
		line-height: 1.2;

		transform: translate(0, 20%);
		opacity: 0;
		transition: opacity 0.8s, transform 0.8s;
		transition-delay: 1s;

		@media (min-width: 1024px) {
			font-size: calc(var(--index) * 3.5);
		}

		&._element-show {
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	/* .home__subtitle */

	&__subtitle {
		font-size: calc(var(--index) * 2);

		transform: translate(0, 20%);
		opacity: 0;
		transition: opacity 0.8s, transform 0.8s;
		transition-delay: 1.4s;

		&._element-show {
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	/* .home__pointer */

	&__pointer {
		display: flex;
		align-items: flex-end;
		justify-content: end;
		padding: calc(var(--index) * 0.5);
	}
}

.pointer {
	width: calc(var(--index) * 6);
	height: calc(var(--index) * 6);
	position: relative;
	right: 0;
	top: 0;

	@media (min-width: 1024px) {
		width: calc(var(--index) * 4);
		height: calc(var(--index) * 4);
	}

	&:hover {

		.border3:nth-child(1),
		.border3:nth-child(2) {
			top: 0;
			left: 0;
		}
	}

	.border3 {
		position: absolute;
		width: 100%;
		height: 100%;
		border: 1.5px solid var(--dark);
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem + 2px), calc(100% - 1rem + 2px) 100%, 0 100%);
		transition: var(--transition);

		&:nth-child(1) {
			left: -1.5px;
			top: -1.5px;

			@media (min-width: 768px) {
				left: -2.5px;
				top: -2.5px;
			}

			@media (min-width: 1024px) {
				left: -0.2rem;
				top: -0.2rem;
			}
		}

		&:nth-child(2) {
			left: 1.5px;
			top: 1.5px;

			@media (min-width: 768px) {
				left: 2.5px;
				top: 2.5px;
			}

			@media (min-width: 1024px) {
				left: 0.2rem;
				top: 0.2rem;
			}
		}

		&::after {
			background-color: var(--dark);
			bottom: 3px;
			content: "";
			display: block;
			height: 2px;
			position: absolute;
			right: -6px;
			top: auto;
			transform: rotate(-45deg);
			width: 22.627416px;
			transition: var(--transition);
		}
	}
}

.swiper-button-next:after {
	content: '';
	width: 100%;
	height: 100%;
	background-image: url(../img/angle.svg);
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(-90deg);
	color: var(--dark);
	font-size: calc(var(--index) * 2);
	transition: var(--transition);

	@media (min-width: 768px) {
		transform: rotate(0);
	}
}

.theme-switch {
	order: -1;
	display: flex;
	align-items: start;
	justify-content: end;
	padding: calc(var(--index) * 0.5);

	/* .theme-switch__button */

	&__button {
		position: relative;
		background-color: transparent;
		width: calc(var(--index) * 6);
		height: calc(var(--index) * 6);
		background-image: url(../img/theme.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;

		@media (min-width: 1024px) {
			width: calc(var(--index) * 4);
			height: calc(var(--index) * 4);
		}

		&:hover {
			.border1 {
				transform: translate(0, 0);
			}

			.border2 {
				transform: translate(0, 0);
			}
		}
	}

	/* .theme-switch__border */

	&__border {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 1.5px solid;
		clip-path: polygon(0% 0%, calc(100% - 8px) 0, 100% 8px, 100% 100%, 95% 100%, calc(0% + 8px) 100%, 0% calc(100% - 8px), 0% calc(100% + 8px));
		transition: var(--transition);

		&::before,
		&::after {
			content: "";
			height: 2px;
			width: 11.5px;
			background: currentColor;
			display: block;
			position: absolute;
			z-index: 1;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			border-radius: 5px;
			transition: var(--transition);
		}

		&::before {
			right: -3.1px;
			top: 1.6px;
		}

		&::after {
			left: -3.1px;
			bottom: 1.6px;
		}
	}

	.border1 {
		transform: translate(-1.5px, 1.5px);

		@media (min-width: 768px) {
			transform: translate(-2.5px, 2.5px);
		}

		@media (min-width: 1024px) {
			transform: translate(-0.2rem, 0.2rem);
		}
	}

	.border2 {
		transform: translate(1.5px, -1.5px);

		@media (min-width: 768px) {
			transform: translate(2.5px, -2.5px);
		}

		@media (min-width: 1024px) {
			transform: translate(0.2rem, -0.2rem);
		}
	}
}

html.dark {

	.home {

		/* .home__title */

		&__title {
			color: var(--light);
		}

		/* .home__subtitle */

		&__subtitle {
			color: var(--light);

		}

		/* .home__pointer */

		&__pointer {}
	}

	.swiper-button-next:after {
		color: var(--light);
	}

	.pointer {

		.border3 {
			border-color: var(--light);

			&::after {
				background-color: var(--light);
			}
		}
	}
	.swiper-button-next:after {
		background-image: url(../img/angle_white.svg);
	}

	.theme-switch {

		/* .theme-switch__border */

		&__border {
			border-color: var(--light);

			&::before,
			&::after {
				background: var(--light);
			}
		}

		/* .theme-switch__button */

		&__button {
			background-image: url(../img/theme_white.svg);
		}
	}
}