:root {
	--index: calc(1vw + 1vh);
	--transition: 1.25s cubic-bezier(0.2, 0.6, 0, 1);
}

html,
body {
	height: 100%;
	overflow: hidden;
}

.page {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
}

.container {
	height: 100%;
	display: flex;
	gap: var(--index);
}

.slider {
	transform: rotate(12.5deg);
	overflow: visible;
}

.slider:nth-child(odd) {
	transform: rotate(192.3deg);
}

@media screen and (max-width: 768px) {
	.slider {
		transform: rotate(8deg);
	}

	.slider:nth-child(odd) {
		transform: rotate(188deg);
	}
}

@media screen and (max-width: 500px) {
	.slider {
		transform: rotate(0);
	}

	.slider:nth-child(odd) {
		transform: rotate(180deg);
	}
}

.slider__wrapper {
	transition: var(--transition) !important;
	will-change: transform;
}

.slider__item {
	width: 21vw;
	margin-bottom: calc(var(--index) * 2.5);
	transition: var(--transition);
	will-change: transform;
	box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 8px;
}

.slider__item:hover {
	transform: scale(1.04);
}

.slider__image {
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 8px;
	position: relative;
}

.slider:nth-child(odd) .slider__image {
	transform: rotate(180deg);
}

/* popup */

.popup {
	display: none;
	padding: var(--index);
}

.popup.open {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.8);
}

.popup-link {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.popup img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}

/* The Loader */

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;
}


#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #1c9aad;
	animation: spin 1.7s linear infinite;
	z-index: 11;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	animation: spin-reverse .6s linear infinite;
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin-reverse {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: rgba(0, 0, 0, 1);
	z-index: 10;
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
	transform: translateX(-100%);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	transform: translateX(100%);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.3s 1s ease-out;
}