.excelent-cook {
	background-color: var(--crema-color);
	overflow-x: hidden;

	@media screen and (min-width: 1024px) {
		background-image: url("../img/icon/leaf.svg");
		background-repeat: no-repeat;
		background-position: top 5% left;
		background-size: 20%;
	}

	@media screen and (min-width: 1440px) {
		background-position: top 7% left calc(50% - 666px);
		background-size: 400px;
	}

	@media screen and (min-width: 1920px) {
		background-size: calc(var(--size-index) * 13.3);
		background-position: top 7% left 10%;
	}

	// .excelent-cook__wrapper

	&__wrapper {
		padding: 60px 0 0;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(2, auto);
		row-gap: 50px;

		@media screen and (min-width: 435px) {
			gap: 90px;
		}

		@media screen and (min-width: 900px) {
			grid-template-columns: 58.33% auto;
			padding: 70px 0 0;
			gap: 0 30px;
		}

		@media screen and (min-width: 1024px) {
			padding-top: 100px;
		}

		@media screen and (min-width: 1440px) {
			padding: 234px 0 0 0;
			gap: 0 60px;
		}

		@media screen and (min-width: 1920px) {
			padding: calc(var(--size-index) * 7.8) 0 0;
		}
	}

	// .excelent-cook__image

	&__image {
		position: relative;
		margin: 0 -15px;

		@media screen and (min-width: 900px) {
			grid-row: 1 / 2;
		}

		@media screen and (min-width: 1440px) {
			margin: 0;
		}
		@media screen and (min-width: 1920px) {
			img {
				width: 100%;
			}
		}
	}

	&__plate {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 47%;
		z-index: 2;
	}

	// .excelent-cook__content

	&__content {
		order: -1;

		@media screen and (min-width: 900px) {
			grid-row: 1 / span 2;
			order: 1;
			text-align: left;
		}

		@media screen and (min-width: 1024px) {
			background-image: url("../img/icon/main-leaf.svg");
			background-repeat: no-repeat;
			background-position: bottom 5% right;
			background-size: 55%;
		}
	}

	&__title {
		font-size: 55px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 30px;

		@media screen and (min-width: 900px) {
			text-align: left;
		}

		@media screen and (min-width: 1440px) {
			font-size: 108px;
			line-height: 120px;
		}

		@media screen and (min-width: 1920px) {
			font-size: calc(var(--size-index) * 3.6);
			line-height: calc(var(--size-index) * 4);
		}
	}

	// .excelent-cook__text

	&__text {
		color: var(--grey-color);

		@media screen and (min-width: 768px) {
			text-align: center;
		}

		@media screen and (min-width: 900px) {
			text-align: left;
		}
	}
}