.intro {
	background-color: var(--main-dark-color);

	// .intro__wrapper

	&__wrapper {
		padding: 0 0 50px;

		@media screen and (min-width: 1024px) {
			padding: 0 0 calc(var(--size-index) * 5);
		}

		@media screen and (min-width: 1440px) {
		}
	}

	// .intro__welcome

	&__welcome {
		margin-bottom: 40px;

		@media screen and (min-width: 1024px) {
			margin-bottom: 60px;
		}

		@media screen and (min-width: 1920px) {
			margin-bottom: calc(var(--size-index) * 2);
		}

		.header.colored {
			background-color: rgba(35, 48, 0, 0.9);

			&:hover {
				background-color: var(--main-dark-color);
			}
		}
	}

	// .intro__second-screen

	&__second-screen {
		padding-bottom: 20px;

		@media screen and (min-width: 1024px) {
			padding-bottom: calc(var(--size-index) * 4);
		}
	}
}

.welcome {

	// .welcome__wrapper

	&__wrapper {
		padding-top: calc(var(--size-index) * 16);
		display: grid;
		grid-template-columns: auto;
		position: relative;
		overflow: hidden;

		@media screen and (min-width: 950px) {
			padding-top: calc(var(--size-index) * 7.4);
			margin-bottom: calc(var(--size-index) * 5);
		}

		@media screen and (min-width: 1024px) {
			row-gap: 60px;
			column-gap: 25px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, auto);
		}

		@media screen and (min-width: 1440px) {
			column-gap: 60px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: minmax(1133px, auto);
		}
	}

	// .welcome__content

	&__content {
		color: var(--white-color);
		margin-bottom: 30px;

		@media screen and (min-width: 1024px) {
			margin-bottom: 0;
		}
	}

	// .welcome__title

	&__title {
		margin-bottom: 20px;
		font-size: 42px;
		line-height: 50px;
		color: var(--white-color);

		@media screen and (min-width: 768px) {
			font-size: 60px;
			line-height: 65px;
			text-align: center;
			margin-bottom: 40px;
		}

		@media screen and (min-width: 1024px) {
			font-size: 68px;
			line-height: 95px;
			margin-bottom: 50px;
			text-align: left;
		}

		@media screen and (min-width: 1920px) {
			font-size: calc(var(--size-index) * 3.67);
			line-height: calc(var(--size-index) * 4.6);
		}
	}

	// .welcome__description

	&__description {
		color: var(--white-color);

		@media screen and (min-width: 1024px) {
			font-size: 25px;
			max-width: 80%;
			margin-bottom: 50px;
		}

		@media screen and (min-width: 1440px) {
			max-width: 70.25%;
		}
	}

	&__pointer {
		display: none;
		font-size: 48px;
		line-height: 64px;
		max-width: 100%;
		writing-mode: vertical-rl;
		text-orientation: mixed;

		.title {
			color: var(--white-color);
		}

		@media screen and (min-width: 1024px) {
			position: absolute;
			display: flex;
			gap: 18px;
			justify-content: space-between;
			align-items: center;
		}

		@media screen and (min-width: 1920px) {
			height: 45%;
			font-size: calc(var(--size-index) * 1.6);
			line-height: calc(var(--size-index) * 2.13);
		}

		&::after {
			content: "";
			display: block;
			flex-grow: 1;
			height: calc(270px + (415 - 270) * ((100vw - 1024px) / (1440 - 1024)));
			width: 2px;
			border-left: 4px dashed;

			@media screen and (min-width: 1440px) {
				height: 470px;
			}

			@media screen and (min-width: 1645px) {
				height: 360px;
			}
		}
	}

	// .welcome__image

	&__image {
		position: relative;

		img {
			width: 100%;
			object-position: top;
		}


		@media screen and (min-width: 1440px) {
			padding-top: 124px;
		}
	}
}

.seasoning {
	display: none;

	@media screen and (min-width: 1024px) {
		grid-column: 1 / -1;
		display: flex;
		justify-content: center;
	}

	@media screen and (min-width: 1440px) {
		position: absolute;
		bottom: 0;
		right: 17.32%;
		background-color: var(--main-dark-color);
		justify-content: space-between;
	}

	@media screen and (min-width: 1645px) {
		position: absolute;
		bottom: -1px;
		right: 17.32%;
		background-color: var(--main-dark-color);
		justify-content: space-between;
	}

	@media screen and (min-width: 1920px) {
		img {
			width: auto;
		}

		bottom: -2px;
		width: 50%;
		left: 50%;
		transform: translateX(-40%);
	}

	// .seasoning__item

	&__item {
		&:not(:last-child) {
			margin-right: 44px;
		}
	}
}

.second-screen {
	display: grid;
	color: white;
	row-gap: 30px;

	@media screen and (min-width: 500px) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
	}

	@media screen and (min-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 60px;
	}

	// .second-screen__left

	&__left {
		.second-screen__image {
			max-height: 560px;
			margin-bottom: 15px;

			@media screen and (min-width: 1024px) {
				margin-bottom: 54px;
			}

			@media screen and (min-width: 1920px) {
				width: 100%;
				max-height: calc(var(--size-index) * 18.6);
			}
		}
	}

	// .second-screen__image-description

	&__image-description {
		font-size: 40px;
		line-height: 100%;
		margin-bottom: 20px;
		max-width: 500px;
		color: var(--white-color);

		@media screen and (min-width: 500px) {
			font-size: 32px;
		}

		@media screen and (min-width: 768px) {
			font-size: 55px;
		}

		@media screen and (min-width: 1024px) {
			margin-bottom: 54px;
			font-size: 58px;
			line-height: 80px;
		}

		@media screen and (min-width: 1440px) {
			font-size: 68px;
			line-height: 84px;
		}

		@media screen and (min-width: 1920px) {
			max-width: 63.13%;
			font-size: calc(var(--size-index) * 2.26);
			line-height: calc(var(--size-index) * 2.8);
		}
	}

	// .second-screen__text

	&__text {
		max-width: 565px;
		font-size: 20px;
		line-height: 125%;
		color: var(--white-color);

		@media screen and (min-width: 1024px) {
			font-size: 24px;
			line-height: 140%;
		}

		@media screen and (min-width: 1920px) {
			max-width: 71.33%;
		}
	}


	// .second-screen__right

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@media screen and (min-width: 1024px) {
			align-items: center;
		}

		@media screen and (min-width: 1440px) {
			align-items: end;
		}

		.second-screen__text {
			margin-bottom: 25px;

			@media screen and (min-width: 1024px) {
				max-width: 508px;
			}

			@media screen and (min-width: 1440px) {
				margin-bottom: 84px;
			}

			@media screen and (min-width: 1920px) {
				max-width: 64.14%;
			}
		}

		.second-screen__image {
			max-height: 710px;

			@media screen and (min-width: 1440px) {
				margin-bottom: 33px;
			}

			@media screen and (min-width: 1920px) {
				width: 64.14%;
				max-height: fit-content;
			}
		}
	}
}