.blogs-page .hero {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("../img/blogs/blogs-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	// .hero__wrapper

	&__wrapper {
		justify-content: center;
		align-items: center;

		@media screen and (max-width: 950px) {
			padding: 200px 0 200px;
		}
	}

	// .hero__content

	&__content {
		text-align: center;
	}

	// .hero__title

	&__title {}

	// .hero__description

	&__description {}
}

.blogs {

	// .blogs__wrapper

	&__wrapper {
		padding: calc(var(--size-index) * 4.26) 0 calc(var(--size-index) * 4.26);
	}

	// .blogs__breadcrumbs

	&__breadcrumbs {
		margin-bottom: calc(var(--size-index) * 2.06);
	}

	// .blogs__grid

	&__grid {
		display: grid;
		gap: calc(var(--size-index) * 4) calc(var(--size-index) * 2);
		margin-bottom: calc(var(--size-index) * 2.1);

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		.article__item {
			box-shadow: 5px 5px 5px var(--crema-color), -1px -1px 1px var(--crema-color);
		}
	}

	// .blogs__navigation

	&__navigation {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;

		.active {
			background-color: var(--main-media-color);
		}

		a.navigation-button {
			color: var(--black-color);
			transition: background-color var(--transition);

			&:hover,
			&:focus {
				background-color: var(--main-light-color);
			}
		}

		a:not(:last-child) {
			margin-right: calc(var(--size-index) * 1.3);
		}
	}
}