@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rufina;
	font-display: swap;
	src: url("../fonts/Rufina-Bold.woff2") format("woff2"), url("../fonts/Rufina-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Rufina;
	font-display: swap;
	src: url("../fonts/Rufina-Regular.woff2") format("woff2"), url("../fonts/Rufina-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
